* {
    font-family: Roboto;
    scrollbar-width: thin;
    scrollbar-color: gray white;
}

:root {
    --border: 1px solid rgb(207, 206, 204);
    --border-bottom: 10px ridge rgb(255, 16, 16)
}


nav {
    display: grid;
    grid-template-columns: 2fr 4fr 1.3fr 1fr 2fr;
    gap: 1.5rem;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: var(--border-bottom);
}

#logga-namn {
    font-weight: bold;
    font-size: larger;
    align-self: center;
    font-size: 2rem;
    margin-left: 5px;
    justify-self: flex-start;
}

#logo-wrapper {
    display: flex;
    align-items: center;
}



nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-self: center;
    gap: 2rem;
}

nav li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 600;
    line-height: 100px;
}

nav li a:hover {
    text-decoration: underline;
}

#search {
    display: flex;
}

#search input {
    width: 100%;
    border-radius: 30px;
    font-size: 1rem;
    border: var(--border);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: url('searchicon.png');
    background-repeat: no-repeat;
    background-position: 8px 8px;
    padding: 15px 0px 15px 40px;


}

#search input::placeholder {
    color: black;
    opacity: 65%;
    padding-left: 2px;
}

#prenumenera {
    color: black;
    background-color: rgb(255, 0, 0);
    font-size: 1.5rem;
    border-radius: 50px;
    border: none;
    padding: 10px;
    font-weight: 400;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#prenumenera:hover {
    background-color: rgb(185, 0, 0)
}

#logga-in {
    background-color: azure;
    color: black;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid grey;
    justify-content: end;
    font-weight: 400;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

#logga-in:hover {
    background-color: lightgray;
}


body {
    margin: 0%;
    background-color: rgba(238, 234, 234, 0.308);
}

#nyhet-titel {
    font-size: 0.8rem;
    font-weight: 100;
    display: flex;
    padding-left: 8px;
    align-items: center;
    height: 3rem;
    margin: 40px 0 -75px 0;
    margin-left: 20%;
    margin-right: 25%;
    border: var(--border);
    color: rgb(255, 0, 0);
    gap: 5px;
}

.nyhet-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 20%;
    flex-direction: column;
    background-color: white;
    border: var(--border);
    border-bottom: var(--border-bottom);
}

.nyhetram-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}

.nyhetsram-bild img {
    width: 100rem;
    height: 30rem;
    object-fit: cover;
}

.nyhetsram-bild {
    display: flex;
    justify-content: center;
}

.nyhetram-text h1 {
    font-size: 4rem;
    align-self: flex-start;
    padding-left: 30px;
}

.nyhetram-text p {
    font-size: 1.5rem;
    align-self: flex-start;
    margin-top: -2rem;
    padding-left: 30px;
    color: rgb(19, 19, 19);
}

footer {
    display: flex;
    justify-content: center;
    gap: 20rem;
    margin: 0rem;
    margin-top: 10rem;
    background-color: black;
    color: white;
    height: 25rem;
    position: static;
}

footer label {
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: underline;
    align-self: auto;
}

footer ul {
    list-style: none;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    margin-top: 12px;

}

footer ul a {
    text-decoration: none;
    color: white;
}

footer ul a:hover {
    text-decoration: underline;

}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -100px;

}

#sidebar {
    height: 70%;
    width: 20%;
    right: 2%;
    margin-top: 7rem;
    position: absolute;
    border: var(--border);
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    display: flex;
    gap: 2.5rem;


}

#scroll {
    overflow: auto;
    scrollbar-color: gray white;
    scrollbar-width: thin;
    border-bottom: 5px solid gray;
    margin-bottom: -27px;
}

h2 {
    font-size: 1.2rem;
    background-color: red;
    color: white;
    padding: 0.3rem;
    width: fit-content;
    margin-left: 10px;
    border-radius: 2px;
}

#scroll ul li {
    list-style: disc;
    font-size: 1.5rem;
    padding: 0;
    margin-left: 0%;
}

#scroll ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}

#scroll ul li a:hover {
    text-decoration: underline black;
}

#mest-lästa-nyhet ul li {
    list-style: decimal;
    font-size: 1.5rem;
    padding: 0;
    margin-left: 0;
}

#mest-lästa-nyhet ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

#mest-lästa-nyhet ul li a:hover {
    text-decoration: underline black;
}

#reklam-container {
    display: flex;
    width: 23%;
    position: absolute;
    flex-direction: column;
    border: 1px solid rgb(207, 206, 204);
    margin-left: 10px;
    gap: 2rem;
    margin-top: 5%;

}

.reklam {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 3px;
}

#text-reklam h1 {
    font-size: 2rem;
    padding: 10px;
}

#text-reklam p {
    padding: 10px;
    font-size: 1.2rem;
}