nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: powderblue;
    border-bottom: 3px solid rgb(36, 35, 35);
}

#logga-namn {
    font-weight: bold;
    font-size: larger;
    align-self: center;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5px;
}

#logo-wrapper {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
    justify-self: center;
    gap: 2rem;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover {
    background-color: rgb(140, 173, 179);
    border-radius: 10px;
    text-decoration: underline black;
}


#prenumenera {
    color: black;
    background-color: red;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 10px;
}

#logga-in {
    background-color: azure;
    color: black;
    font-size: 1.5rem;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
}

body {
    margin: 0%;
}

.nyhet1 {
    display: flex;
    justify-content: center;
    margin-top: 85px;
    border: 4px solid rgb(145, 140, 140);
    margin-right: 25%;
    margin-left: 25%;
    flex-direction: column;
}

.nyhetram-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.nyhetsram-bild {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.nyhetram-text h1 {
    font-size: 4rem;
}

.nyhetram-text p {
    font-size: 1.5rem;
    margin-top: -1.5rem;
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    display: flex;
    justify-content: center;
    gap: 20rem;
    margin: 0rem;
    margin-top: 10rem;
    background-color: black;
    color: white;
    height: 25rem;
}

footer label {
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: underline;
    align-self: auto;
}

footer ul {
    list-style: none;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    margin-top: 12px;

}

footer ul a {
    text-decoration: none;
    color: white;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -100px;

}